server {
	server_name ;
	access_log /var/log/access.log;
	error_log /var/log/error.log;
	root   ;
	index index.php index.html index.htm;
    pagespeed on;
    pagespeed FileCachePath /tmp/ngx_pagespeed_cache;
    pagespeed CriticalImagesBeaconEnabled false;
    pagespeed PreserveUrlRelativity on;
    pagespeed EnableFilters rewrite_images;
    pagespeed RewriteLevel PassThrough;
    pagespeed RewriteLevel OptimizeForBandwidth;
    pagespeed EnableFilters convert_png_to_jpeg;
    pagespeed EnableFilters convert_jpeg_to_webp;
    pagespeed MaxCacheableContentLength -1;
    pagespeed ImageResolutionLimitBytes  128000000;
    try_files $uri $uri/ @rewrite;
            location @rewrite {
            rewrite ^/(.*)$ /index.php?_url=/$1;
   }
    location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass    127.0.0.1:9000;
            include fastcgi_params;
            fastcgi_split_path_info       ^(.+\.php)(/.+)$;
            fastcgi_param PATH_INFO       $fastcgi_path_info;
            fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

   }
    location ~* \.(js|css|svg|ico|webp)$ {
 	    expires 30d;
	 }
    location /images {
            alias /srv/code_folder/landingpage.ovp.vn-Current/storage/app/public/exclusives;
   }
    location /resize {
            expires 30d;
            alias ;
            image_filter   resize  $arg_w -;
            image_filter_jpeg_quality 100;
            image_filter_buffer 10M;
    }
    location /crop {
            expires 30d;
            alias ;
            image_filter   crop  $arg_w $arg_h;
            image_filter_jpeg_quality 100;
            image_filter_buffer 10M;
    }
    listen 443 ssl http2; # managed by Certbot
    ssl_certificate ; # managed by Certbot
    ssl_certificate_key ; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
